@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white
}
.mirror{
   
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
 
.base{
  background-color: #3352cc;
}
.textbase{
  color: #3352cc;
}
.buttonbg{
  @apply bg-gradient-to-br text-white rounded-full   from-[#3352CC] font-medium to-[#1C2D70];
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.cl-internal-1p733cp{
  @apply bg-gradient-to-br text-white   from-[#3352CC] font-medium to-[#1C2D70];
}
.cl-internal-4x6jej{
  display: none !important;
  @apply bg-gradient-to-r from-indigo-500 !text-white via-purple-500 to-pink-500 
}
.cl-internal-1tpvhd8 , .cl-internal-1vbkfwh ,.cl-internal-1c7fjmu,.cl-internal-15di0mo{
  color: white !important;
}
